@model IEnumerable<ControleDeTrabalhosAcademicos.Models.Autor>

@{
    ViewData["Title"] = "Autores";
}

<h2>Autores</h2>

<table class="table">
    <thead>
        <tr>
            <th>Autor ID</th>
            <th>Nome</th>
            <th>Curso</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
    @foreach (var item in Model)
    {
        <tr>
            <td>@Html.DisplayFor(modelItem => item.AutorId)</td>
            <td>@Html.DisplayFor(modelItem => item.Nome)</td>
            <td>@Html.DisplayFor(modelItem => item.Curso)</td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.AutorId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.AutorId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.AutorId">Delete</a>
            </td>
        </tr>
    }
    </tbody>
</table>

<p>
    <a asp-action="Crea
