@model IEnumerable<ControleDeTrabalhosAcademicos.Models.Autor>

<h2>Lista de Autores</h2>

<table class="table">
    <thead>
        <tr>
            <th>Nome</th>
            <th>Curso</th>
            <th>Ações</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var autor in Model)
        {
            <tr>
                <td>@autor.Nome</td>
                <td>@autor.Curso</td>
                <td>
                    <a asp-action="Edit" asp-route-id="@autor.AutorId">Editar</a> |
                    <a asp-action="Details" asp-route-id="@autor.AutorId">Detalhes</a> |
                    <a asp-action="Delete" asp-route-id="@autor.AutorId">Excluir</a>
                </td>
            </tr>
        }
    </tbody>
</table>

<a class="btn btn-primary" asp-action="Create">Criar Novo Autor</a>
